  <div class="jumbotron">
    <h1 class="title">Welcome to JobRose</h1>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></p>
  </div>

  <section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww1.sinaimg.cn/large/006tNbRwjw1fc34efbpx9j303k03kjr8.jpg" alt="search" class = "img-thhumbnail">
          <div class="caption">
            <h3>深圳罗湖京基100</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww4.sinaimg.cn/large/006tNbRwjw1fc34gql0rtj303k03kq2u.jpg" alt="bid" class = "img-thhumbnail">
          <div class="caption">
            <h3>changluxin@ouoffer.com</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww1.sinaimg.cn/large/006tNbRwjw1fc34idmptuj303k03kdfo.jpg" alt="heart" class = "img-thhumbnail">
          <div class="caption">
            <h3>0755-86396321</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
